@font-face {
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: 400;
  src: local("Amatic SC Regular"), local("AmaticSC-Regular"), url(http://fonts.gstatic.com/s/amaticsc/v6/DPPfSFKxRTXvae2bKDzp5JBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html,
body {
  min-height: 100%;
}

body {
  padding: 50px;
  background: rgba(255, 255, 204, 0.31);
  background: #333 url("http://subtlepatterns.com/patterns/dirty_old_shirt.png");
}

h1 {
  text-align: center;
  font-family: "Amatic SC", sans;
  font-size: 80px;
  color: white;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #999;
  padding: 30px 0 0;
}

.example {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.2);
}

.example-content {
  min-height: 500px;
  padding: 50px;
}
